# ============================
# Java + Maven + Eclipse Setup
# ============================

# Ignore compiled class files
*.class

# Ignore log files and log folder
logs/
*.log

# Ignore all .properties files (config, locators, testdata)
*.properties

# Ignore Eclipse project files
.classpath
.project
.settings/

# Ignore Maven target directory
target/

# OS-specific hidden files
.DS_Store
Thumbs.db
